.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.brand {
  display: flex;
  flex-wrap: wrap;
}

.brand-blok {
  height: 90px;

  @media screen and (max-width: 767px) {
    @include calc-2n();
  }

  @media screen and (min-width: $tablet) {
    @include calc-3n();
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.brand-link {
  @extend %flex-center;

  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: #afb1b8;

  transition: border-color 250ms $time-function, color 250ms $time-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.client-svg {
  fill: currentColor;
}

