.hero {
  height: 400px;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/banner.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/banner@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/banner@3x.jpg);
  }

  @media screen and (min-width: $tablet) {
    @media screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/banner.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/banner@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/banner@3x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 280px;

    @media screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero/banner.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero/banner@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero/banner@3x.jpg);
    }
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @include title(900, 26px, 1.62); 
  letter-spacing: 0.06em;
  
  color: $basic-bg-color;

  @media screen and (max-width: 1199px) {
    max-width: 360px;
  }

  @media screen and (min-width: $desktop) {
    @include title(900, 44px, 1.36);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    max-width: 696px;
  }
}

.hero-button {
  display: inline-block;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  outline: transparent;

  @include title(700, 16px, 1.88);
  letter-spacing: 0.06em;

  color: $basic-bg-color;
  background-color: $accent-color;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;

  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal { 
  @media screen and (min-width: $tablet) {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  @extend %flex-center;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;

  width: 100%;

  border-radius: 4px;

  background-color: $basic-bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: transform 250ms $time-function;

  @media screen and (min-width: $mobile) {
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    max-width: 528px;
    height: 581px;
  }
}

.button-close {
  position: absolute;
  @extend %flex-center;
  top: 8px;
  right: 8px;

  @media screen and (max-width: 479px) {
    top: 101px;
    right: 23px;
  }

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: $basic-bg-color;
  transition: color 250ms $time-function;

  &:hover,
  &:focus {
    outline: transparent;
    color: $accent-color;
  }
}

.button-icon {
  width: 18px;
  height: 18px;
  background-position: center;
  fill: currentColor;
}

.modal-form {
  @extend %flex-center;
  flex-direction: column;
  width: 100%;
}

.form-title {
  display: block;
  margin-bottom: 12px;

  @include title(700, 20px, 1.15);
  text-align: center;

  color: $secondary-text-color;
}

.form-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;

  @include title(normal, 12px, 1.17);
  letter-spacing: 0.01em;
  text-align: left;

  color: $basic-text-color;

  @media screen and (min-width: $desktop) {
    width: 448px;
  }
}

.form-input {
  width: 100%;
  @media screen and (min-width: $desktop) {
    width: 448px;
  }

  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms $time-function, color 250ms $time-function;

  &:focus {
    outline: transparent;
    border-color: $accent-color;
  }

  &:focus + .form-icon {
    fill: $accent-color;
  }
}

.form-icon {
  position: absolute;
  z-index: 3;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  fill: $secondary-text-color;

  transition: fill 250ms $time-function;
}

.form-comment {
  margin-bottom: 20px;
}

.form-input.comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    @include title(normal, 14px, 1.14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    
  } 
} 

.check {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @include title(normal, 12px, 1.17);
  text-align: center;

  @media screen and (min-width: $desktop) {
    @include title(normal, 14px, 1.71);
    text-align: center;
  }

  color: $basic-text-color;

  & .check-input:checked + .check-icon {
    background-color: $accent-color; 
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    border: 2px solid $accent-color;
  }
}

.check-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid $secondary-text-color;
  border-radius: 2px;

  transition: background-color 250ms $time-function, border 250ms $time-function;
}

.check-link {
  color: $accent-color;
  text-decoration: underline;
}

.modal-button {
  width: 200px;
  height: 50px;
  outline: transparent;

  @include title(700, 16px, 1.88);
  letter-spacing: 0.06em;

  color: $basic-bg-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

