.section-principles {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
  
.feature {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.description {
  @media screen and (max-width: 767px) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    @include calc-2n();
  }

  @media screen and (min-width: $desktop) {
    @include calc-4n();
  }
}

.icon-svg {
  @extend %flex-center;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.icon {
  max-width: 70px;
  height: 70px;
  background-position: center;
}

.description .title {
  margin-top: 0;
  margin-bottom: 10px;

  @extend %block-title;
  text-align: center;

  color: $secondary-text-color;
}

.description .text {
  margin-top: 0;
  margin-bottom: 0;

  @include title(normal, 14px, 1.71);
}






 