@media screen and (max-width: 1199px) {
  .products {
    display: none;
  }
}

@media screen and (min-width: $desktop) {
  .products {
    padding-bottom: 94px;
  }

  .works {
    display: flex;
  }

  .pictures {
    position: relative;
    z-index: 0;
    width: calc((100% - 60px) / 3);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .section-title {
    @include title(bold, 36px, 1.17);
    color: $secondary-text-color;
    text-align: center;
    text-transform: uppercase;
  }

  .pictures .title {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    @include title(bold, 14px, 1.14);
    text-align: center;
    text-transform: uppercase;

    color: $basic-bg-color;
    background-color: rgba(47, 48, 58, 0.8);
  }
}