.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-card {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-card .name {
  margin-top: 0;
  margin-bottom: 10px;

  @extend %block-title;
  text-align: center;

  color: $secondary-text-color;
}

.team-card .position {
  margin-top: 0;
  margin-bottom: 16px;

  @include title(normal, 16px, 1.19);
  text-align: center;
}

.team-card .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    @include calc-2n();
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
    @include calc-4n();
  }
}

.team-img {
  display: block;
  max-width: 100%;
}

.bloc {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;

  background-color: $basic-bg-color;
}

.social {
  display: flex;
  justify-content: center;

  & .social-item:not(:last-child) {
    margin-right: 10px;
  }
}

.team-card.social {
  @media screen and (min-width: $desktop) {
    margin-right: 32px;
    margin-left: 32px;
  }
}

.social-network {
  @extend %flex-center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #afb1b8;

  transition: background-color 250ms $time-function, color 250ms $time-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $basic-bg-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}